.content {
    display: flex;
    flex-direction: column;
    background: #eee;
    .header{
        width: 100%;
        background: white;
        .title{
            width: 100%;
            height:1rem;
            display: flex;
            align-items: center;
            img{
                width: 1.84rem;
                height: .53333rem;
                display: block;
                margin-left: 0.3rem;
                margin-right: 0.2rem;
                float: left;
            }
            .ipt{
                float: left;
                width: 6rem;
                height: .74667rem;
                line-height: .74667rem;
                margin: 0 auto;
                font-size: .37333rem;
                margin-right: 0.1rem;
                background-color: #ededed;
                #first{
                    margin-left: 1rem;
                }
            }
            .blogin{
                width: 1.2rem;
                height: 0.6rem;
                font-size: 13px;
                margin-right: 0.1rem;
                background: white;
                border: 0;
                border: 1px solid red;
            }
        }
        .nav{
            width: 100%;
            .ul{
                width: 8rem;
                height:35px;
                display: -webkit-box;
                overflow-x: scroll;
                float: left;
                .slide-item{
                    font-size: 17px;
                    padding:5px 10px;
                    height: 35px;
                }
                &::-webkit-scrollbar { //去除滚动条，设置滚动条的背景颜色为透明 
                    background-color: transparent;
                    display:none;
                  }
                .active{
                    color: red;
                    border-bottom: 1px solid red;
                }
            }
            .dj{
                span{
                    float: right;
                    line-height: 1rem;
                }
            }
        }
    }
    .main {
        flex: 1;
        overflow: hidden;
        overflow: auto;
    }
    footer{
        width: 100%;
        height: 1.333333rem;
        line-height:1.333333rem;
        
    }
}